<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />

        <style>
          .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }

          @media (min-width: 768px) {
            .bd-placeholder-img-lg {
              font-size: 3.5rem;
            }
          }
          .img-thumbnail{
            height: 150px;
            width: 150px;
          }
        </style>
        <!-- Custom styles for this template -->
        <link href="album.css" rel="stylesheet">
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                                <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <a class="btn btn-outline-dark" href="{% url 'Cart' %}">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">{{ Cart_nums }}</span>
                        </a>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">您的交易資訊</h1>
                    <p class="lead fw-normal text-white-50 mb-0">訂單明細</p>
                </div>
            </div>
        </header>
        <div class="container py-5">
      <main>
      {% if check_ok %}
        <div class="row g-5">
          <div class="col-md-5 col-lg-4 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-primary">訂單詳細資訊</span>
              <span class="badge bg-primary rounded-pill">{{ Cart_nums }}</span>
            </h4>
            <ul class="list-group mb-3">
            {% for item in order_list %}
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">{{ item.product }}</h6>
                  <small class="text-muted">x {{ item.qty }}</small>
                </div>
                <span>${{ item.total_price }}元</span>
              </li>
              {% if forloop.last %}
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <h6 class="my-0">預估運費:</h6>
                    </div>
                    {% if transaction.delivery == "S" %}
                    <span>$60元</span>
                    {% elif transaction.delivery == "P" %}
                    <span>$80元</span>
                    {% elif transaction.delivery == "F" %}
                    <span>$0元</span>
                    {% endif %}
                  </li>
              {% endif %}
            {% endfor %}

              <li class="list-group-item d-flex justify-content-between">
                <span>總計，含運費 (TWD)</span>
                <strong>{{ transaction.total_payment }}元</strong>
              </li>
            </ul>

            <form class="card p-2">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Promo code">
                <button type="submit" class="btn btn-secondary">Redeem</button>
              </div>
            </form>
          </div>

          <div class="col-md-7 col-lg-8">
          <div class='row'>
            <div class='col-sm-12'>
                <div class='panel panel-info'>

                    <div><a> 訂單編號: {{ transaction.OrderID }}</a></div>
                    <div><a> 顧客姓名: {{ transaction.customer }}</a></div>
                    <div><a> 電子信箱: {{ customers.email }}</a></div>
                    <div><a> 電話: {{ customers.tel }}</a></div>
                    {% if transaction.payment == "B" %}
                    <div><a> 付款方式: 匯款</a></div>
                    {% endif %}
                    {% if transaction.delivery == "S" %}
                    <div><a> 運送方式: 711交貨便</a></div>
                    {% elif transaction.delivery == "P" %}
                    <div><a> 運送方式: 郵局宅配</a></div>
                    {% elif transaction.delivery == "F" %}
                    <div><a> 運送方式: 面交</a></div>
                    {% endif %}
                    <div><a> 運送地址: {{ transaction.address }}</a></div>
                    <div><a> 備註: {{ transaction.comment }}</a></div>
                    <div><a> 總付款(預估，含運費): {{ transaction.total_payment }}</a></div>
                    <div><a> 交易日期: {{ transaction.deal_date }}</a></div>
              </div>
        </div>
        <button class='btn btn-outline-dark mt-auto'>
            <a href='/'>完成訂購，請等待後續聯絡</a>
        </button>
        {% else %}
        <button class='btn btn-warning'>
            <a href='/'>程序發生問題，有可能是訂單商品已被搶先，請重新執行購買步驟</a>
        </button>
        {% endif %}
        </div>
        </section>
      </main>
    </div>
</body>
</html>

<!--<!doctype html>-->
<!--<html lang="zh-TW">-->
<!--{% load static %}-->
<!--  <head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    <meta name="description" content="">-->
<!--    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">-->
<!--    <meta name="generator" content="Jekyll v3.8.5">-->
<!--    <title>Bluelime courses</title>-->


<!--    &lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->

<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->

<!--    <style>-->
<!--      .bd-placeholder-img {-->
<!--        font-size: 1.125rem;-->
<!--        text-anchor: middle;-->
<!--        -webkit-user-select: none;-->
<!--        -moz-user-select: none;-->
<!--        -ms-user-select: none;-->
<!--        user-select: none;-->
<!--      }-->

<!--      @media (min-width: 768px) {-->
<!--        .bd-placeholder-img-lg {-->
<!--          font-size: 3.5rem;-->
<!--        }-->
<!--      }-->
<!--    </style>-->
<!--    &lt;!&ndash; Custom styles for this template &ndash;&gt;-->
<!--    <link href="album.css" rel="stylesheet">-->
<!--  </head>-->
<!--  <body>-->


<!--<main role="main">-->

<!--  <section class="jumbotron text-center">-->
<!--  {% if check_ok %}-->
<!--  <div class='row'>-->
<!--    <div class='col-sm-12'>-->
<!--        <div class='panel panel-info'>-->

<!--            <div><a> 訂單編號: {{ transaction.OrderID }}</a></div>-->
<!--            <div><a> 顧客姓名: {{ transaction.customer }}</a></div>-->
<!--            <div><a> 電子信箱: {{ customers.email }}</a></div>-->
<!--            <div><a> 電話: {{ customers.tel }}</a></div>-->
<!--            {% if transaction.payment == "B" %}-->
<!--            <div><a> 付款方式: 匯款</a></div>-->
<!--            {% endif %}-->
<!--            {% if transaction.delivery == "S" %}-->
<!--            <div><a> 運送方式: 711交貨便</a></div>-->
<!--            {% elif transaction.delivery == "P" %}-->
<!--            <div><a> 運送方式: 郵局宅配</a></div>-->
<!--            {% elif transaction.delivery == "F" %}-->
<!--            <div><a> 運送方式: 面交</a></div>-->
<!--            {% endif %}-->
<!--            <div><a> 運送地址: {{ transaction.address }}</a></div>-->
<!--            <div><a> 備註: {{ transaction.comment }}</a></div>-->
<!--            <div><a> 總付款(預估，含運費): {{ transaction.total_payment }}</a></div>-->
<!--            <div><a> 交易日期: {{ transaction.deal_date }}</a></div>-->

<!--            <div class='panel panel-heading'>-->
<!--                <h4>訂單詳細資訊</h4>-->
<!--            </div>-->
<!--            <div class='panel panel-body'>-->
<!--                {% for item in order_list %}-->
<!--                    {% if forloop.first %}-->
<!--                    <table border=1>-->
<!--                        <tr>-->
<!--                            <td width=300 align=center>產品名稱</td>-->
<!--                            <td width=100 align=center>單價</td>-->
<!--                            <td width=100 align=center>數量</td>-->
<!--                            <td width=100 align=center>小計</td>-->
<!--                        </tr>-->
<!--                    {% endif %}-->
<!--                    <div class='listgroup'>-->
<!--                        <div class='listgroup-item'>-->
<!--                            <tr>-->
<!--                                <td align=center>{{ item.product }}</td>-->
<!--                                <td align=center>{{ item.price }}</td>-->
<!--                                <td align=center>{{ item.qty }}</td>-->
<!--                                <td align=center>{{ item.total_price }}</td>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {% if forloop.last %}-->
<!--                        <td align=center></td>-->
<!--                        <td align=center></td>-->
<!--                        <td align=center>預估運費: </td>-->
<!--                        {% if transaction.delivery == "S" %}-->
<!--                        <td align=right>60元</td>-->
<!--                        {% elif transaction.delivery == "P" %}-->
<!--                        <td align=right>80元</td>-->
<!--                        {% elif transaction.delivery == "F" %}-->
<!--                        <td align=right>0元</td>-->
<!--                        {% endif %}-->
<!--                    {% endif %}-->
<!--                    {% endfor %}-->
<!--                    </table>-->
<!--                <div class='panel panel-footer'> 總計：{{ transaction.total_payment }}元 </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--      <button class='btn btn-warning'>-->
<!--          <a href='/'>完成訂購，請等待後續聯絡</a>-->
<!--      </button>-->
<!--    {% else %}-->
<!--        <button class='btn btn-warning'>-->
<!--        <a href='/'>程序發生問題，有可能是訂單商品已被搶先，請重新執行購買步驟</a>-->
<!--        </button>-->
<!--  {% endif %}-->
<!--  </div>-->
<!--  </section>-->

<!--</main>-->

<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
<!--</html>-->
