<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>登入</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <!-- Navigation-->
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
    {% load static %}
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/"><img src="{% static 'Logo_black.png' %}" height="50px" width="50px">休息一下</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">All Products</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            {% for plant in plant_object.all %}
                            <li>
                                <a class="dropdown-item" href="{% url 'category' plant.mom %}">鹿角蕨</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <a class="btn btn-outline-dark" href="{% url 'Cart' %}">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill">{{ Cart_nums }}</span>
                    </a>
                </form>
                {% if not request.user.is_authenticated %}
                <a class="btn btn-outline-dark" href="{% url 'Login' %}" role="button">登入 &#187;</a>
                {% else %}
                <a class="nav-link active">
                    你好，{{ request.user.username }}
                    <a class="btn btn-outline-dark" href="{% url 'Logout' %}" role="button">登出 &#187;</a>
                </a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container py-5" >
        {% if not request.user.is_authenticated %}

        {% load socialaccount %}
        {% block content %}

        <form method="post">
            {% csrf_token %}
            <a class="btn btn-danger" href="{% provider_login_url 'google' method='oauth2' %}">Google登入</a>
            <a class="btn text-white"
               style="background-color:#3b5998;text-align:center;"
               href="{% provider_login_url 'facebook' method='oauth2' %}">
                facebook登入
            </a>

            <div class="container">
                {{ form }}
            </div>
            <input class="btn btn-success" type="submit">
            <input type="hidden" name="login">
            <p>還沒有帳號嗎? <a href="{% url 'Registration' %}">註冊</a></p>
        </form>
            {% endblock  %}

        {% else %}
        <a class="btn btn-lg btn-primary" href="{% url 'Logout' %}" role="button">登出 &#187;</a>
        {% endif %}
    </div>
    </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark" style="bottom:0; position:fixed; left: 0; right: 0;">
            <div class="container"><p class="m-0 text-center text-white">Copyright © Your Website 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!--   jQuery     -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% if messages %}
            <script>
                {% for msg in messages %}
                alert('{{ msg }}');
                {% endfor %}
            </script>
        {% endif %}
</body>
</html>