<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />

        <style>
          .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }

          @media (min-width: 768px) {
            .bd-placeholder-img-lg {
              font-size: 3.5rem;
            }
          }
          .img-thumbnail{
            height: 150px;
            width: 150px;
          }
        </style>
        <!-- Custom styles for this template -->
        <link href="album.css" rel="stylesheet">
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                                <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <a class="btn btn-outline-dark" href="{% url 'Cart' %}">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">{{ Cart_nums }}</span>
                        </a>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">我的購物車</h1>
                    <p class="lead fw-normal text-white-50 mb-0">訂單明細</p>
                </div>
            </div>
        </header>

<div class='row'>
    <div class='container col-sm-12 py-3'>
        <div class='panel panel-info'>
            <div class=class="table-responsive">
                {% for item in cart %}
                    {% if forloop.first %}
                    <table border=1 class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <td width=300 align=center>產品名稱</td>
                            <td width=300 align=center>產品圖</td>
                            <td width=100 align=center>單價</td>
                            <td width=100 align=center>數量</td>
                            <td width=100 align=center>小計</td>
                            <td width=100 align=center>刪除</td>
                        </tr>
                    {% endif %}
                    </thead>
                    <tbody>
                    <div class='listgroup'>
                        <div class='listgroup-item'>
                            <tr>
                                {% load multifor %}
                                {% for q in inv_list; img in image_list %}
                                {% if forloop.counter == forloop.parentloop.counter %}
                                    <td align=center valign="middle">
                                        <a href="{% url 'plant_page' item.product.name %}">
                                            {{ item.product.name }}
                                        </a>
                                    </td>
                                    <td align=center valign="middle">
                                        <img src="{{ img.url }}"  class="img-thumbnail">
                                    </td>
                                    <td align=center valign="middle">{{ item.product.price }}</td>
                                    <td align=center valign="middle">
                                      <form action="{% url 'update_cart' item.product.name %}" method="post">
                                        {% csrf_token %}
                                        <select name="qty" onchange="this.form.submit()">
                                          {% for n in q %}
                                            {% if n == item.quantity %}
                                                <option value={{n}} selected="selected">{{ n }}</option>
                                            {% else %}
                                                <option value={{n}}>{{ n }}</option>
                                            {% endif %}
                                          {% endfor %}
                                        </select>
                                          <input type="hidden" name="update">
                                      </form>
                                    </td>

                                    <td align=center valign="middle">{{ item.total_price }}</td>
                                    <td align=center valign="middle">
                                    <a class="btn btn-outline-dark" href='{% url "remove_cart" item.product.name %}'>
                                        刪除
                                    </a>
                                    </td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                        </div>
                    </div>
                    {% if forloop.last %}
                    </tbody>
                    </table>
                <div class='panel panel-footer' align="right"> 總計：{{ cart.summary }}元 </div>
                <a class="btn btn-outline-dark flex-shrink-0" type="button" href='/' style="float:right">
                    <i class="bi-cart-fill me-1"></i>
                    返回首頁
                </a>
                <a class="btn btn-outline-dark flex-shrink-0" type="button" href='{% url "Ordering" %}' style="float:right">
                    <i class="bi-cart-fill me-1"></i>
                    我要訂購
                </a>
                {% endif %}
                {% empty %}
                <div><em>購物車是空的</em></div>
                <a class="btn btn-outline-dark flex-shrink-0" type="button" href='/' style="float:center">
                    <i class="bi-cart-fill me-1"></i>
                    我要訂購
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>